  
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Recuperacion de contraseña
    style   
        include ./style.css
 
  body.color-secondary

    div.body

        div.container
            table(style='width:100%')
                tbody
                    tr
                        td

                            div.header
                                p.top Change2Go

                    tr
                        td
                            div.contenido
                                    p.saludo Estimado #{datosEmail.nombre},

                                    p.mensaje Le agradecemos su comunicacion, hemos recibido su solicitud de cambio de contraseña, haga clic en el siguiente boton para acceder al formulario par que pueda cambiarla

                                    div.datos
                                        - var btnType = 'info'
                                        - var btnSize = 'lg'
                                        button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize + ' color-primary-bg')
                                            a.color-light(href=datosEmail.enlace, title="cambiar contraseña") Cambiar contraseña

                                        p.mensaje Si el botón superior no funciona, copie esto en su navegador web:
                                        p.enlace #{datosEmail.enlace}
    
                    tr
                        td
                            div.footer

                                div.firma
                                    p El equipo de Change2Go
                                    p www.change2go.es
                                    p T. 910 701 812
                                    p info@change2go.es
                                    p Calle Mayor, 44, 28013 Madrid, España
                            
                                div.img
                                    - var img = datosEmail.rutaLogotipos+'logo.png'
                                    img.logo(src=img)

                                    - var img = datosEmail.rutaLogotipos+'postFirma.png'
                                    img.postFirma(src=img)








